@model MovieRatings.Web.ViewModels.Movies.MoviesListViewModel
@{
    this.ViewData["Title"] = "All Movies";
}

<h1>@this.ViewData["Title"]</h1>

<hr />
<div class="row">
    @foreach (var movie in this.Model.Movies)
    {
        <div class="media col-md-4">
            <img src="@movie.ImageUrl" width="100" class="mr-3 img-responsive">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ById" asp-route-id="@movie.Id">@movie.Name</a></h5>
                @movie.GenreName
            </div>
        </div>
    }
</div>
<hr />

<partial name="_PagingPartial" model="@Model"/>    